<%= form_with(model: apostador, local: true) do |form| %>
  <% if apostador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apostador.errors.count, "error") %> prohibited this apostador from being saved:</h2>

      <ul>
      <% apostador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :apostador_nome %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :apostador_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
