<p id="notice"><%= notice %></p>

<h1>Apostas</h1>

<table>
  <thead>
    <tr>
      <th>Apostador</th>
      <th>Pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apostas.each do |aposta| %>
      <tr>
        <td><%= aposta.apostador %></td>
        <td><%= aposta.pago %></td>
        <td><%= link_to 'Show', aposta %></td>
        <td><%= link_to 'Edit', edit_aposta_path(aposta) %></td>
        <td><%= link_to 'Destroy', aposta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aposta', new_aposta_path %>
